.btn {
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    background-color: #296539;
    color: #ffffff;
    font-size: 16px;
    border: none;
    min-width: 100px;
    min-height: 41px;

    &:first-of-type {
        margin-right: 10px;
    }

    &Danger{
        background-color: #b53725;
    }
}