.modal {
    width: 516px;
    margin: 20% auto;
    background: #e94a34;
    border-radius: 3px;
    position: relative;
    font-size: 16px;
    animation: animatezoom 0.3s ease;
    color: #ffffff;


    @keyframes animatezoom {
        from {transform: scale(0)} 
        to {transform: scale(1)}
    }


    &Wrap {
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: #312d2d;

    }

    &Header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color:#d54431;
        padding:0 25px;
        border-radius: 3px;
        font-weight: 400;

    }
    &Close {
        cursor: pointer;
        position: relative;
        width: 20px;
        height: 20px;
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #ffffff;
            transform: rotate(45deg);
        }
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #ffffff;
            transform: rotate(-45deg);
        }
    }

    &Text {
        padding: 28px 35px;
        font-size: 16px;
        line-height: 2;
        text-align: center;

    }
    &Actions {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 24px;
    }
}